@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--color4);
  color:var(--color1)
}

:root{
  --color1:#e2f0f9;
  --color2:#b0dde4;
  --color3:#286fb4;
  --color4:#df4c73;
}