@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--color4);
  color:var(--color1)
}

:root{
  --color1:#e2f0f9;
  --color2:#b0dde4;
  --color3:#286fb4;
  --color4:#df4c73;
}

.switch-checkbox:checked + .switch-label .switch-button{

  /* left: calc(100%-2px); */
  left:100%;
  transform: translateX(-22px);

}

.light{
  background-image: url("https://cdn-icons-png.flaticon.com/128/2910/2910890.png");
  background-size: cover;
  
}

.moon{
  background-image: url("https://cdn-icons-png.flaticon.com/128/1823/1823397.png");
  background-size: cover;

}